@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins&display=swap");

:root{

  --color-primary :#34c94b;
  --color-black : #121212;
  --color-white : #ffffff;
  
}

*,
*::before,
*::after{
box-sizing: border-box;
}

*{
margin:0;
}
html,body{
  height:100%;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  line-height: 1.5;
  -webkit-font-smoothing:antialiased;
 }
 img,
 picture,
 video,
 svg{
  display: block;
  max-width: 100%;
 }
 textarea,button,input,select{
  font:inherit;
 }
 h1,p,h2,h3,h4,h5{
  
  overflow-wrap: break-word;
 }
 #root,
#__next{
isolation:isolate;
}
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  color:inherit;
}
.swiper-slide {
  width: auto !important;
}